body {
	cursor: url(cursormain.gif), default;
	background: #0b0401;
	color: #dadada;
	font-family: 'Vollkorn', arial;
	overflow: hidden;

	-moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
}
#wrapper {
	position: absolute;
	left: 0px; right: 0px; top: 0px; bottom: 0px;
	background-image: url(background3.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 1365px 767px;
}
#Logo {
	position: absolute;
	right: 0px; bottom: 0px;
	width: 128px;
	height: 64px;
	background-image: url(logo.png);
	background-size: 128px 64px;
	text-indent: -999em;
	cursor: url(cursorpointer.gif), pointer;
} #Logo:hover { background-image: url(logohover.png); }
#loading {
	display: block;
	position: absolute;
	left: 0px; right: 0px; top: 0px; bottom: 0px;
	padding: 50px 200px;
	text-align: center;
	font-size: 30px;
	background: #2d1409;
	box-shadow: 0px 0px 220px black inset;
	-webkit-box-shadow: 0px 0px 220px black inset;
	text-shadow: 0px 0px 50px black;
} #loadingIcon {
	position: relative;
	background-image: url(dice/diceroll/red_loading.gif); background-size: 64px; background-repeat: no-repeat; background-position: center;
	margin-left: auto; margin-right: auto;
	width: 128px; height: 64px;
}


#textscreen {
	position:absolute;
	display:block;
	background:url(old_paper.jpg) center; background-size: 600px;
	top:0px; bottom:0px;
	margin-left:50%; margin-right:50%;
	transform: translate(-50%, 0px);
	width:600px;
	box-shadow: 0px 0px 220px black;
	-webkit-box-shadow: 0px 0px 220px black;
	color: #210;
	text-align: center;
}
#title {
	position: relative;
	padding: 10px;
	font-size: 50px;
	font-weight: bold;
}
#title:after {
	content:url('apexright.png');
	position: relative;
	width: 20px; height: 20px;
	font-weight: bold;
}
#title:before{ 
	content:url('apexleft.png');
	position: relative;
	width: 20px; height: 20px; 
	font-weight: bold;
}
#page { font-size: 19px; }
#shadow {
	position: absolute; top: 0px; bottom: 0px; width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 1%, rgba(0,0,0,0) 6%, rgba(0,0,0,0) 79%, rgba(0,0,0,0.60) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(1%,rgba(0,0,0,0.15)), color-stop(6%,rgba(0,0,0,0)), color-stop(79%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.60)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 1%,rgba(0,0,0,0) 6%,rgba(0,0,0,0) 79%,rgba(0,0,0,0.60) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 1%,rgba(0,0,0,0) 6%,rgba(0,0,0,0) 79%,rgba(0,0,0,0.60) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 1%,rgba(0,0,0,0) 6%,rgba(0,0,0,0) 79%,rgba(0,0,0,0.60) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 1%,rgba(0,0,0,0) 6%,rgba(0,0,0,0) 79%,rgba(0,0,0,0.60) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#73000000',GradientType=0 );
	pointer-events:none;
}