body{ font-family: 'Vollkorn', arial; background: #0e0905; overflow: hidden; cursor: url(cursormain.gif), default;  }.unselectable {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
#wrapper{ position: absolute;
	background: url(background1.png); background-position: center top; background-repeat: no-repeat;
	left: 0px;right: 0px;top: 0px;bottom: 0px;
	box-shadow: 0px 0xp 80px 10px rgba(0, 0, 0, 1.0) inset;
	-webkit-box-shadow: 0px 0px 80px 10px rgba(0, 0, 0, 1.0) inset;
	color: black;
}
#gameArea{
	
	height: 100%;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background: #FDEDD4 url(old_paper.jpg) center center;
	font-size: 20px;
	overflow-y: auto;
	
	box-shadow: 0px 0xp 80px 10px rgba(0, 0, 0, 1.0);
	-webkit-box-shadow: 0px 0px 80px 10px rgba(0, 0, 0, 1.0);
}
#Dice{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 128px;
	height: 128px;
	background-image: url(dice/big1.png);
	background-size: 128px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px;
	
	transition: background-size 0.2s;
    -webkit-transition: background-size 0.2s;
	
	cursor: url(cursorpointer.gif), pointer;
	
} #Dice:hover{ background-image: url(dice/diceroll/dicerollin.gif); background-size: 128px;
	background-repeat: no-repeat;
	background-position: center; }
#Dice:active{ background-size: 100px; }

#DiceResult{
	visibility: hidden;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 128px;
	height: 128px;
	background-image: url(dice/result1.png);
	background-size: 128px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px;
	cursor: url(cursorpointer.gif), pointer;
	
	
	text-align: center;
} #Result{ position: relative; top: 28%; text-align: center; font-size: 40px; color: #fff; text-shadow: 0px 0px 10px white; }
	#Result:hover{ text-shadow: 0px 0px 30px white; }
#Logo {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 64px;
	width: 128px;
	background: url(logo.png);
	background-size: 128px 64px;
	background-repeat: no-repeat;
	background-position: bottom;
	cursor: url(cursorpointer.gif), pointer;
}
#shadow {
	position: absolute;
	width: 600px;
	top: 0px;
	bottom: 0px;
	
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 78%, rgba(0,0,0,0.65) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(5%,rgba(0,0,0,0)), color-stop(78%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,0) 78%,rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,0) 78%,rgba(0,0,0,0.65) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,0) 78%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,0) 78%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 );

	pointer-events: none;
	
}
#title{
	position: relative;top: 30px;
	text-align: center;
	font-size: 40px;
	
}
#page { 
	position: relative; top: 0px; 
	font-size: 18px; 
	text-align: center; 
	padding: 70px; 
	overflow-y: auto;
	
}
.link{
	color: #006;
	cursor: url(cursorpointer.gif), pointer;
	font-weight: bold;
	transition: font-weight 0.2s;
    -webkit-transition: font-weight 0.2s;
	
} .link:hover{ color: #229; font-weight: 1000;} .linkdice{ cursor: url(cursordice.gif), pointer; }
#DiceOp {
	position: absolute;top: 0px;right: 130px;padding: 10px;
	color: #fff; font-size: 30px; text-shadow: 0px 0px 10px white;
}
#Backpack{
	position:absolute; left: -500px; top: 0px; bottom: 0px;
	width: 500px;
	background: rgba(60,42,26,1);
	transition: left 0.2s;
    -webkit-transition: left 0.2s;
	
	box-shadow: 0px 0xp 80px black;
	-webkit-box-shadow: 0px 0px 80px black;
	
} #PackIcon{
	position: relative; width:64px;height:64px;left: 500px;
	background: rgba(60,42,26,1);
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	
	
	
} #PackName{ position: absolute; color: white; font-size:  30px; left: 40%; top: 20px; text-shadow: 0px 2px 10px black;
} #PackImage{
	 cursor: url(cursorpointer.gif), pointer;
	position: relative;width:45px;height:45px;margin: auto;
	top: 10px;
	background: url('Pack.png') center center; background-size: 45px; background-repeat: no-repeat;
	
} #PackImage:hover{ background: url('PackHover.png') center center; background-size: 45px; background-repeat: no-repeat; }

#PackItems {
	position: absolute;left:30px;right:30px;top:70px;bottom:30px;
	background: rgb(33,8,3);
	background: -moz-linear-gradient(top,  rgba(33,8,3,1) 0%, rgba(53,21,10,1) 8%, rgba(40,15,7,1) 30%, rgba(15,3,1,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(33,8,3,1)), color-stop(8%,rgba(53,21,10,1)), color-stop(30%,rgba(40,15,7,1)), color-stop(100%,rgba(15,3,1,1)));
	background: -webkit-linear-gradient(top,  rgba(33,8,3,1) 0%,rgba(53,21,10,1) 8%,rgba(40,15,7,1) 30%,rgba(15,3,1,1) 100%);
	background: -o-linear-gradient(top,  rgba(33,8,3,1) 0%,rgba(53,21,10,1) 8%,rgba(40,15,7,1) 30%,rgba(15,3,1,1) 100%);
	background: -ms-linear-gradient(top,  rgba(33,8,3,1) 0%,rgba(53,21,10,1) 8%,rgba(40,15,7,1) 30%,rgba(15,3,1,1) 100%);
	background: linear-gradient(to bottom,  rgba(33,8,3,1) 0%,rgba(53,21,10,1) 8%,rgba(40,15,7,1) 30%,rgba(15,3,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210803', endColorstr='#0f0301',GradientType=0 );
	
	box-shadow: 0px 0xp 30px black inset;
	-webkit-box-shadow: 0px 0px 30px black inset;
	
	overflow-y: auto;
	overflow-x: hidden;
	
}
#DexNum {
	position:absolute;right:10px; top:180px;
	color: white;font-size: 25px;
}
#StrNum {
	position:absolute;right:10px; top:210px;
	color: white;font-size: 25px;
}
#ManaNum {
	position:absolute;right:10px; top:250px;
	color: white;font-size: 20px;
}
#LuckNum {
	position:absolute;right:10px; top:280px;
	color: white;font-size: 20px;
}
.upperN{ position:relative; bottom: 35px; left: -23px; font-size: 15px; color: #3ae; }
.lowerN{ position:relative; bottom: 42px; right: 15px; font-size: 15px; color: #e33; }
.itemP{
	position: relative; display: block; right: 0px;height:50px; margin: 4px 2px;
	background: rgba(23,8,3,0.5);
	box-shadow: 0px 0xp 10px black inset;
	-webkit-box-shadow: 0px 0px 10px black inset;
	cursor: url(cursorpointer.gif), pointer;
	color: #fff; font-size: 20px; text-shadow: 0px 2px 5px black;
} .itemP:hover {
	background: rgba(53,38,13,0.5);
} .itemIcon {
	position: relative;
	width:50px;
	height:50px;
	top:0px;
} .itemName{
	position: relative; top: -50px; left: 60px;
} .itemOptions{
	position: relative; top: -60px; right: -240px; padding: 0px 5px; display: inline-block;
	margin: 2px;
	
	background: rgba(113,58,13,0.8);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
} .itemOptions:hover{
	color: #ef7;
} .itemOptions:active { background: rgba(113,58,13,1.0); }



#loading {
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: #110500;
	box-shadow: 0px 0xp 250px black inset;
	-webkit-box-shadow: 0px 0px 250px black inset;
}
#loadingIcon {
	position: relative;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 256px;
	height: 256px;
	background: url(dice/diceroll/loading.gif);
}
#loadingtext {
	position: relative;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	color: #fff;
	text-shadow: 0px 0px 20px black;
}






::-webkit-scrollbar {
      width: 10px;
}
::-webkit-scrollbar-track {
      background-color: rgba(225, 225, 225, 0.0);
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
      background-color: #443322; 
	  border-radius: 4px;
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
      background-color: rgba(225, 225, 225, 0.0);
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
      background-color: rgba(225, 225, 225, 0.0);
}